[2015-06-30 08:34] raylua2566 opened #1 "How it works in the Auto Layout?"
My Workaround

[code]

[2015-07-01 13:55] MarvinNazari opened #2 "Carthage support"
Hi, it would be great if u could add [Carthage](https://github.com/Carthage/Carthage) support.

[2015-07-08 19:51] #2 closed, assigned to nobody

[2015-07-10 03:07] #1 closed, assigned to nobody

[2015-07-26 21:12] efremidze opened #4 "Fatal error: unexpectedly found nil while unwrapping an Optional value"
I'm getting an error on default implementation on a UITableViewController. Any suggestions?

[2015-07-26 21:24] efremidze commented on #4
Fixed it, have to call `addPullToRefresh:` in `viewDidAppear:`, crashes in `viewDidLoad`

[2015-07-26 21:24] #4 closed, assigned to nobody

[2015-09-26 20:06] tapz opened #9 "Merge Swift 2.0 version"
Time to merge the swift 2.0 version and make a new pod version? iOS9 and Xcode 7 GM have been out for couple of weeks now.

[2015-10-01 12:31] AlexZd opened #10 "Memory leak"
I'm using `swift2.0` branch.
Steps to reproduce:
1. Download demo project.
2. Insert `UIViewController` between `UINavigationController` and sample `ViewController`
3. Add button on new `UIViewController` and link it to sample `ViewController`, so now you can tap on button and push sample `ViewController`.
4. Inside ViewController.swift add `deinit` method. You can add printing or use breakpoints.

[2015-10-01 12:38] AlexZd commented on #10
Also in my application I'm getting crash because of this leak like:

[code]

[2015-10-06 17:44] jlalvarez18 commented on #9
:+1:

[2015-10-09 21:39] serejahh commented on #9
@maximletushov, do you need some help?

[2015-10-12 10:19] maksym-letiushov commented on #9
@serejahh thank you. @artemSydorenko could you plz take a look ?

[2015-10-13 07:58] Art3mS1d commented on #9
Now merged)

[2015-10-13 07:58] #9 closed, assigned to nobody

[2015-10-15 08:38] Art3mS1d commented on #10
Thanks you, @AlexZd . I fixed it. https://github.com/Yalantis/PullToRefresh/commit/c2958eb91b0efd9f625897025987f3362c546c5f
. Soon will be in master

[2015-10-15 08:38] #10 closed, assigned to nobody

[2015-10-16 11:38] tapz opened #13 "How to center activity indicator?"
How do I center the activity indicator? Now it shows up on the left side of the UITableView being only half visible.

[2015-10-16 11:44] maksym-letiushov commented on #13
@tapz we will take a look. Thank you.

[2015-11-13 08:18] EgorSobko commented on #13
@tapz We've made a hotfix to resolve this issue

[2015-11-13 09:30] maksym-letiushov commented on #13
fixed with #15

[2015-11-13 09:30] #13 closed, assigned to nobody

[2015-12-11 00:30] alfredcc commented on #9
Thanks, all. I am very enjoy it; )

[2015-12-11 08:10] alfredcc opened #18 "Remove refreshView when in 'Loading' state, it will broke view's frame"
I have fix it

[2016-01-03 23:10] StuartMorris0 opened #19 "Dynamic height for RefreshView"
Hello,

Is there a way to create a dynamic height for the refresh view. The reason I ask is that we are looking to implement the pull to refresh functionality from here.

We have a background colour set for the table view already. The pull to refresh view background colour is different. When you drag over the height of the refresh view you see the background colour of the table view.

I was hoping

[2016-01-19 03:12] ibakurov opened #20 "Inital -> Initial"
You might want to fix a typo in states of animator. Is says inital instead of initial.

[2016-01-31 15:50] mamouneyya opened #21 "Blocking main thread while endRefreshing()"
Hello,

If I triggered a pull-to-refresh request and then immediately start scrolling while the app fetches the new data, the table view will hang for a second or so once the endRefreshing() gets called. This provides a very bad indication to the user.

[2016-01-31 17:30] mamouneyya commented on #21
Also, the endRefreshing's animation should not be played if the user already made some scrolling (in other words, when scroll view's offset is not zero)

[2016-03-04 09:45] mdfalcon104 opened #25 "can we add it into the head of UICollectionView"

[2016-03-15 15:46] KaterynaZaikina commented on #25
@dlpigpen yes, you can add refresher to UICollectionView as well as to any UIScrollView subclass.

[2016-03-15 15:48] KaterynaZaikina commented on #20
@illyaBakurov thank you for interest, we will fix this.

[2016-03-15 16:12] #18 closed, assigned to nobody

[2016-03-15 17:53] KaterynaZaikina commented on #19
@StuartMorris0 you can look at this solution https://github.com/Yalantis/PullToRefresh/pull/24

[2016-03-29 13:40] BenchR267 opened #26 "Crash on deallocating"
Hey, awesome library!

I am using it in a project and unfortunately experiencing a crash on deallocating. The pullToRefresh is added in viewDidAppear and is not removed manually. But as far as I see, that should not be a problem, because it should be automatically deallocated and remove the KVO observer by itself. Could you please take a look? The crash dump is:

`*** Terminating app due to uncaug

[2016-04-07 08:54] heliumdice commented on #26
@BenchR267 I am seeing this problem also.

Are you able to post an example of your solution. I would be eternally grateful. Thanks

[2016-04-07 08:56] BenchR267 commented on #26
@heliumdice I am now just adding the pullToRefresh in viewWillAppear and removing it in viewWillDisappear. Do you need more code / explanation?

[2016-04-07 09:30] heliumdice commented on #26
@BenchR267

Thanks for your speedy response. I am doing what you are suggesting but to no avail. So I must be missing something. He's my example. I am subclassing a UITableView and have two view controllers which both contain one of these table subclasses. When I push from view controller A to B everything is fine. But when I pop back from B to A that is when I get the crash. Here is some rough co

[2016-04-07 09:43] BenchR267 commented on #26
Hm, that's almost my exact solution. The only difference is, I am adding the pull to refresh action in the controller.. Sorry, I don't know a solution for now. I can take a look this evening.

[2016-04-07 10:34] heliumdice commented on #26
I refined my code a little by removing all the pullToRefresh code out of the tableView subclass. But I am still getting the same crash.

[code]

**ClassA : UIViewController**

[code]

**ClassB : UIViewController**

[code]

[2016-04-20 08:22] plamenterziev opened #27 "End refreshing animation"
Would be nice if can set different types of animations for the Finished state of the refresh (not only to use spring animation).

[2016-05-11 12:36] KyleXie opened #29 "Support refresh from the bottom?"
Is it necessary to let this library support the bottom direction?  I mean we make a scroll view owns two refreshers, one in the top, when user pull from top to bottom, it means to refresh the list, and another in the bottom, when user pull from bottom to top, it means to load more data.

[2016-05-11 12:43] KyleXie commented on #29
I just see that #28 is exactly what I'm talking about...

[2016-05-18 05:29] sanpili opened #30 "when is v1.3.2 available in cocoapods"
1.3.1 has a bug may create crash. The latest version of code fix it. So  #title

[2016-05-18 05:51] sanpili commented on #30
OK, i fix it myself，just specific the source git repo like this

 pod 'PullToRefresher', :git => 'https://github.com/Yalantis/PullToRefresh.git'

[2016-05-18 05:51] #30 closed, assigned to nobody

[2016-06-23 19:57] brewmium opened #33 "Fatal Exception: NSRangeException Cannot remove an observer <DigitalPour.PullToRefresh 0x132217b40> for the key path "contentOffset" from <UITableView 0x12d8dcc00> because it is not registered as an observer."
Just received an odd crash in PullToRefesh. I wonder if a semaphore around addScrollViewObserving/removeScrollViewObserving the observer may be in order?

![screen shot 2016-06-23 at 3 53 51 pm](https://cloud.githubusercontent.com/assets/923549/16317986/0070a220-395b-11e6-845e-ab6ef578793b.png)

[2016-07-26 11:46] #25 closed, assigned to nobody

[2016-07-26 12:47] serejahh commented on #26
Hi @BenchR267, @heliumdice! Thank you for reporting the issue and the workaround :)
Definitely, removing and adding again isn't a good solution. I'll investigate the issue. Stay tuned 😉

[2016-07-27 06:48] serejahh commented on #26
I spent some times playing around with the bug and wasn't able to fix it 😞

[2016-07-27 07:16] #21 closed, assigned to nobody

[2016-07-27 09:55] #19 closed, assigned to serejahh

[2016-07-27 09:55] #20 closed, assigned to serejahh

[2016-07-27 12:20] #29 closed, assigned to nobody

[2016-07-27 12:44] #33 closed, assigned to nobody

[2016-07-28 14:35] serejahh commented on #27
Hi @plamenterziev. Now you can adjust the animation. It's still a spring animation, but you can disable the effect playing with parameters 😉

[2016-07-28 14:35] #27 closed, assigned to nobody

[2016-07-29 15:40] zipme commented on #26
I am seeing the crash as well, here is how I fix it:

I setup the refresher in `viewDidLoad`

and in the deinit of my view controller

[code]

Notice that the above code still crashes with the latest version, there is a new guard variable called `observes` which is never changed, I've sent a PR which may solve this issue.

And the current solution is not ideal, since we still need to manually remo

[2016-07-29 15:54] serejahh commented on #26
Hi @zipme. Thanks for you descriptive comment!
You're absolutely right. I saw how other pull to refresh components are implemented. It seems `DefaultRefreshView` should contain all logic

[2016-07-29 16:07] zipme commented on #26
@serejahh that could work, but if we let `DefaultRefreshView` do all the heavy lifting, wouldn't creating a custom `refreshView` be more difficult?

[2016-08-01 05:11] #26 closed, assigned to nobody

[2016-08-01 05:11] serejahh commented on #26
@zipme This is true too. I've updated readme and demo. I hope usage will be handy enough

[2016-08-01 06:54] zipme commented on #26
@serejahh 👍

[2016-08-09 15:43] StuartMorris0 commented on #19
Hey @serejahh. I am not sure the expected behaviour from this, but the issue still exists for us.

What happens is the refresh view that we create is added behind the tableView and the height of that refresh view is not dynamic when scrolled past its original height.

Here is an example image from looking at the view layout.
![screen shot 2016-08-09 at 16 29 21](https://cloud.githubusercontent.com

[2016-08-16 11:11] StuartMorris0 opened #38 "Dyanmic Height issue"
Re-opening issue https://github.com/Yalantis/PullToRefresh/issues/19

From previous last comment:
Hey @serejahh. I am not sure the expected behaviour from this, but the issue still exists for us.

What happens is the refresh view that we create is added behind the tableView and the height of that refresh view is not dynamic when scrolled past its original height.

Here is an example image from loo

[2016-08-19 11:43] serejahh commented on #38
Have you already tried to setup constraints for the behaviour?

[2016-08-19 13:08] StuartMorris0 commented on #38
Hey, No!

I am not sure what constraint would be needed here. What was you thinking?

[2016-09-09 02:55] levin-ilya opened #40 "Table cells go under Navigation bar"
See image:
![image](https://cloud.githubusercontent.com/assets/4548241/18373938/8942365c-7616-11e6-9f0b-4387f3927598.png)

Spent a lot of time trying to debug with to luck. The only think I found is that contentOffset is not the same as before.

Before:
`<UITableView: 0x7fd7908bd600; frame = (0 0; 375 667); clipsToBounds = YES; opaque = NO; autoresize = W+H; gestureRecognizers = <NSArray: 0x7fd790

[2016-09-12 08:44] pmusolino opened #41 "Swift 2.3 + Swift 3.0"
Hi!

I suggest to introduce two branches that works with swift 2.3 and swift 3.0.

Thanks
-Paolo

[2016-09-13 10:02] serejahh commented on #41
Hi @Codeido! Sure, it's almost done - https://github.com/Yalantis/PullToRefresh/pull/42

[2016-09-15 03:27] ibakurov commented on #41
Any timelines when it is going to be merged in master and pushed to cocoapods?

[2016-09-15 05:39] serejahh commented on #41
Sure, I'll merge it today 👍

[2016-09-21 04:04] czars opened #43 "Can I use it in Objective C project?"

[2016-09-21 06:03] serejahh commented on #43
Hi @czars!

Unfortunately, we didn't have intention to support objective-c

[2016-09-21 06:03] #43 closed, assigned to nobody

[2016-09-21 06:39] serejahh commented on #41
Now `master` contains swift 3, `swift2` contains the last 2.x version. Everything is available in cocoapods

[2016-09-21 06:39] #41 closed, assigned to nobody

[2016-10-04 06:01] serejahh commented on #40
Hi @levin-ilya! Could you provide a test project?

[2016-10-04 06:28] serejahh commented on #38
I've played a bit with constraints. I guess, because it's a table view header it's not easy enough to setup this kind of constraints. The easiest way is to set the same background color

[2016-10-04 06:28] #38 closed, assigned to nobody

[2016-10-04 16:08] StuartMorris0 commented on #38
I'll try and have a look at this in more depth. Surely the background view for the tableView refresh can be set with a constraint and not set height(max height) at least that is my thoughts.

[2016-10-14 02:32] cherishloveyou commented on #40
the demo has the same bug. while pulling state scroll to bottom to push new data. the contentOffset is wrong

[2016-10-26 06:58] ibakurov commented on #33
Even though it seemed to be fixed, I do receive this crash from time to time. Could not debug why and under which circumstances, but telling, just so you are aware that it is not fully resolved with deinit solution. Once I have more details I'll definitely share them here.

[2016-10-30 20:32] theduman commented on #40
+1 same issue on split view controller.i set tableview frame again to fix that.it also triggers itself to refresh for the first running time but there is no such problem in your demo.Should i create new issue for that trigger problem.

[code]

}

[2016-11-03 07:44] Dcell opened #47 "Can delete the finish animate. i find a KVO crash"
if i fast exit viewController, it will KVO crash.

i find the finish animate,  it's not a weak self.
ScrollView deinit, but PullerRefresh can't deinit. can't remove kvo.
then crash :(

[2016-11-09 14:38] nick-melnick commented on #40
Put
`setupPullToRefresh()`
into
`func viewDidAppear(_ animated: Bool)`
For me that some solution of problem

[2016-11-16 13:23] DenisLaboureyras opened #48 "Compatibility with ScrollView?"
Hello,

Thanks for your awesome Framework.

I tried to use PullToRefresh with a simple UIScrollView, the refresher appeared but there are problems with animations (the progress is always 1 and the refresher doesn't wait before disappearing).
The exact same code with an UITableView works like a charm.

Is it a framework limitation or do I have a problem with my code? I know that there are limitatio

[2016-11-22 10:17] windyit08 opened #49 "Sometime Activity Indicator is small"
Sorry my English is not good, please see screen record video for more detail

https://www.dropbox.com/s/3vcg4c1k1u9pxnk/PullToRefreshDemo_Bug_Report.mov?dl=0

### Environment

- Swift version: 3
- iOS version: 10.1
- Device: Simulator iPhone 6
- Xcode version: 8.1

### Project that demonstrates the bug

PullToRefreshDemo (branch: develop --- Latest commit 3deb872  26 days ago @serejahh serejahh Bu

[2016-11-23 11:50] vvit commented on #47
@dingqili do you store your `PullToRefresh` instance in view controller ivars?

[2016-11-25 07:28] Dcell commented on #47
@vvit
Thanks for Help. I'm not store `PullToRefresh` in view controller.

### 1. It's my crash Info.
[code]

### 2.Debug Memory Graph
![2016-11-25 15 11 22](https://cloud.githubusercontent.com/assets/4684864/20617203/87a4e5ee-b322-11e6-9c3d-8e481a9a559b.png)

It's not Deinit. Maybe cause of origin `UIView.animate`

### 3.WorkSpace
1.Xcode8.1
2.Object-c Project Use Swift FrameWork
3.IOS 9.3  , SDK

[2016-11-28 07:32] ariaboushehri commented on #26
i am getting same issue but i dont know the key value name even i didn't add the observer ,i used UIRefreshControl in my app

[2016-12-06 09:53] 9you commented on #40
I'am facing same problem. @nick-melnick 's solution work but initial refresh will be delay.

[2017-01-13 08:14] vietstone-ng opened #53 "Can I temporarily disable pull-to-refresh?"
Hi,
I want to use pull-to-refresh. But sometimes, I want to disable it, then enable later.
Can I do it with this library?
Thank you.

[2017-01-13 12:58] serejahh commented on #53
hi @vietstone. You can remove it and add again when it's needed, but I'll leave the issues as an improvement

[2017-01-13 15:37] vietstone-ng commented on #53
oh, nice @serejahh . Thank you.

[2017-01-28 22:51] nickdnk opened #55 "Fix insets for UITableViewController"
Hey

When used in a storyboard UITableViewController, the refresher resets the insets to .zero, causing the scroll view to go under the navigation bar and tab bar (if you have one). It should do 64 for top and 49 for bottom insets to match, but there's no way to change this.

So for some reason it's setting scrollViewDefaultInsets incorrectly, not taking into account navigation bar or tab bar.

iO

[2017-02-06 06:03] ikzjfr0 opened #56 "dyld: Library not loaded for Swift 2.3"
Got an issue on Xcode8 for Swift 2.3

dyld: Library not loaded: @rpath/PullToRefresh.framework/PullToRefresh
  Referenced from: /Users/liangwang/Library/Developer/CoreSimulator/Devices/66255D64-7B2F-45B9-8508-9399AF63F9F0/data/Containers/Bundle/Application/A1AB80C4-7F6E-40E4-B5D1-AE4B301DB6EE/epcmobile-ios.app/epcmobile-ios
  Reason: image not found

I have included library in Carthage with : gith

[2017-02-06 22:31] ikzjfr0 commented on #56
Finally, i found I should include "$(SRCROOT)/Carthage/Build/iOS/PullToRefresh.framework" in Build Phases -> Carthage Copy Frameworks

[2017-02-06 22:31] #56 closed, assigned to nobody

[2017-02-08 04:25] woodchuckkkk opened #57 "NSInternalInconsistencyException bug"
## Report a bug

###  What did you do?

Crash would definitely be caused if you release the viewController that contains tableview and topPullToRefresh, while you are running your demo with an ipad2 ios9. In this case, calling removePullToRefresh() in deinit() is invalid. There would be some unknown reasons that may cause the delay of releasing topPullToRefresh rather than tableview, and the topPu

[2017-02-08 14:11] mahmutpinarbasi commented on #57
Having the same issue on iOS 10.2 with iPhone 5 Simulator

[2017-02-08 14:39] serejahh commented on #57
Guys, thanks for reporting the bug. We'll try to fix it

[2017-03-13 10:42] murdly commented on #57
I was holding a reference to `refresher=PullToRefresh()` object. Calling `refresher=nil` while removing the refresher in `deinit` solved the problem.

[2017-03-14 18:06] Vinzius opened #58 "[feature request] Being able to know if a PTR was initiated by the user or not."
Hey !

First, thanks for your work.

## A feature request

###  What do you want to add?

In my case, I need to know if a refresh is initiated by the user or not. Said differently, if the user pulls, or if the application manually displayed the animation.

Why? Simple case, you want to hard-refresh the content from your API when the users pulls, but you don't want to do it when you display the PTR

[2017-03-21 03:36] PMExtra opened #60 "Why not let the `removePullToRefresh` accept optional param?"
[code]

I extend it for more convenient deinit.

[2017-03-24 12:28] kamil3 commented on #26
@ariaboushehri Make sure that you create PullToRefresh object when passing it as parameter:
[code]
And then remove all pull to refresh elements (removeAllPullToRefresh method is in develop branch, not released in the newest CocoaPods version yet):
[code]

[2017-03-27 12:54] nderkach commented on #43
I've made a fork with Obj-C support here: https://github.com/BlipMe/PullToRefresh

Really all that was required was to implement a few additional initializers. I've also included obj-c examples creating a custom pull-to-refresh view.

[2017-03-28 22:28] nderkach commented on #55
Had the same issue, adjusting tableview `contentInset`, did the job. `automaticallyAdjustsScrollViewInsets` was not required.

[2017-04-07 09:51] Syhpox opened #61 "[Bug]The tableView appear that contentOffset bigger"
# Report
## Report a bug
first,run your demo,when the top refresh is working, immediately let the bottom refresh works and wait for the finished of the two refresh,you find that everytime one such operation, contentOffset become twice as large as

### Environment

- Version of the component: 2.0.2
- Swift version: 3.0
- iOS version: 10.3
- Device: 6s plus
- Xcode version: 8.3

### Project that dem

[2017-04-07 12:53] Vinzius commented on #57
Same problem. Fix from murdly works, but not really fun to have an optional var. Maybe I'm just going to remove the lib, too bad.

[2017-04-10 02:05] Syhpox commented on #61
everytime one such operation, contentOffset become twice as large as

[2017-04-14 13:31] gica-gugui commented on #47
+1 to this issue. However the crash happens only on iPhone 5 devices in my case (maybe this info is helpful).

[2017-04-15 21:50] bonyadmitr opened #63 "Section header displaced"
# Report

![screen shot 2017-04-16 at 00 37 34](https://cloud.githubusercontent.com/assets/24361363/25066975/205c1fca-223e-11e7-90c4-4384d0443cd9.png)

## Report a bug

###  What did you do?

Pull to refresh + some scroll

### What did you expect to happen?

Normal sticky section header

### What happened instead?

Section header displaced.
See screenshot.

### Your Environment

- Version of the c

[2017-04-17 17:03] czars commented on #43
@nderkach  thanks for your contribution! I did solved my problem

[2017-05-05 13:39] wadevanne opened #65 "startRefreshing function failed"
## Report a bug

###  What did you do?

Drag scroll view carelessly as the image below and release when the activity indicator not completely showed up, the contentOffset become zero point again

![wechatimg2](https://cloud.githubusercontent.com/assets/13325485/25747113/f9ef1c2a-31d8-11e7-93cd-df348aa0ab73.jpeg)

and then po the state of refresher == releasing : 0.0125

![wechatimg1](https://cloud

[2017-05-05 14:29] wadevanne commented on #65
![qq20170505-221720](https://cloud.githubusercontent.com/assets/13325485/25749792/43fc1c88-31e2-11e7-951b-893d158111ab.png)

[2017-05-08 09:23] TimothyChilvers commented on #57
+1 - abandoning this lib in favour of going iOS 10 only.

[2017-05-22 11:02] thereal1 commented on #63
I'm having the same sort of problem

[2017-05-22 11:07] thereal1 commented on #40
For me the problem seem to be when I add new elements, so it seems you maybe have to manually update the frame after adding new elements.

[2017-05-26 04:34] jdziegler commented on #55
Experiencing the same issue when programmatically creating a UIViewController that has a table view.

[2017-07-08 15:12] pmusolino opened #68 "Is the project still maintained?"
I see too many bugs on issues panel and 5 pull request pending from 4 months. Any news? Is the project still maintained?

[2017-07-08 15:13] pmusolino commented on #47
Any news about this bug?

[2017-07-11 14:08] Vodolazkyi commented on #60
Hi! Thank you for question. For what purpose can this be useful ?

[2017-07-11 14:25] PMExtra commented on #60
In controller deinitializer. By default, I have to check the refresher not be null and call the remove method. If let the remove accept null reference and check it internal, I could call it without a care.

On 07/11/2017 22:09, Vodolazkyi wrote: Hi! Thank you for question. For what purpose can this be useful ?

—You are receiving this because you authored the thread.Reply to this email directly, v

[2017-07-11 14:47] #58 closed, assigned to nobody

[2017-07-11 15:10] Vodolazkyi commented on #68
Hi! Yes, we are working on this project.

[2017-07-11 15:10] #68 closed, assigned to nobody

[2017-07-16 14:25] pmusolino commented on #68
Can you release a new version on Cocoapods?

[2017-09-14 05:50] arlo-egg opened #72 "Simultaneous access to memory due to KVO in Xcode 9"
## Report a bug

###  What did you do?

Migrated the project to Swift 4
Ran the demo project in Xcode 9

### What did you expect to happen?

No console warnings

### What happened instead?

A warning in the console about simultaneous access to memory.
[code]

### Your Environment

- Version of the component: 2.0.2
- Swift version: 4
- iOS version: 11
- Device: iPhone 8
- Xcode version: 9 GM

### P

[2017-09-14 05:50] arlo-egg commented on #72
I have a PR coming up with a fix

[2017-09-24 19:25] nickdnk commented on #63
Yo, guys, this is totally broken on iOS 11 and XC9. We need someone to take a look at this. Help!

[2017-09-24 19:50] nickdnk opened #76 "Broken in XCode 9 + iOS 11"
# Report

After updating XCode to 9.x this library seems to be broken. I add a .top refresher and experience the progress let starting at 0.6 when you reach the top of the scroll view and start pulling. Aside from that it is buggy in general when pulling down and releasing. The content insets no longer match when it returns to a normal state.

I should mention this is with a Custom Animation, not

[2017-09-25 10:18] nickdnk commented on #76
Okay. I did some testing.

I made it work by first of all implementing https://github.com/Yalantis/PullToRefresh/pull/75.

Then I created a var to hold the height of the navigation and status bar:

` open var navigationControllerHeight: CGFloat = 0`

Initially 0 to make it possible to just enable my "fix" by setting:

`awesomeRefresher.navigationControllerHeight
 = (self.navigationController?.navi

[2017-10-06 11:58] ykeisuke opened #78 "Layout is off on iPhoneX if using Xcode9 and WKWebView"
# Report
Hi
Indicator is not center (⚭-⚭  )
See following image. On this image, changed background color for debug.
![simulator screen shot - iphone x - 2017-10-06 at 18 58 21](https://user-images.githubusercontent.com/3081092/31273329-191c65b2-aac9-11e7-9f37-319bdf859c0d.png)

## Report a bug

###  What did you do?

I'll description.

1. Installed Xcode9 GM(Version 9.0 (9A235))

2. Clone Yalantis

[2017-10-31 13:05] #72 closed, assigned to nobody

[2017-11-03 16:11] srj0x0 commented on #47
@Codeido, @gica-gugui, try to remove PullerRefresh's from scroll view when your view controller is releasing.

[2017-11-03 16:13] #40 closed, assigned to nobody

[2017-11-03 16:14] #55 closed, assigned to nobody

[2017-11-03 16:19] #60 closed, assigned to nobody

[2017-11-03 16:22] srj0x0 commented on #78
@ykeisuke you can implement custom PullToRefresh and use it as well.

[2017-11-03 16:43] #47 closed, assigned to nobody

[2017-11-03 17:04] srj0x0 commented on #57
@Vinzius, @TimothyChilvers Hi guys, thank for the report. When you add an instance of PullToRefresh to a UIScrollView (or its subclass), it becomes retained. So, you have a strong reference to it from the scroll view. It seems that you have another strong reference inside the controller. Therefore, you need to use a weak reference in the controller or not use it and create refresher instance befor

[2017-11-03 17:04] #57 closed, assigned to nobody

[2017-11-06 07:28] srj0x0 commented on #76
@nickdnk Hi! Thank for your report. Starting from iOS 11`automaticallyAdjustsScrollViewInsets` is deprecated. Although, you have a something new in `UIScrollView`: [contentInsetAdjustmentBehavior](https://developer.apple.com/documentation/uikit/uiscrollview/2902261-contentinsetadjustmentbehavior), [adjustedContentInset](https://developer.apple.com/documentation/uikit/uiscrollview/2902259-adjustedc

[2017-11-16 08:47] aurora14 commented on #72
Still an issue for me with an identical environment as the opening post except for Xcode 9.1

Edit: this article helped me. I made the change locally and it works now.

http://michael-brown.net/2017/swift-and-kvo-context-variables/

[2017-11-20 13:37] #78 closed, assigned to nobody

[2018-01-05 03:21] magic3584 opened #92 "Content offset changes after pull at bottom in iOS 11"
## Report a bug

### What happened instead?

TableView's contentOffset changes after pull at bottom

### Your Environment

- Version of the component: 3.0.1
- Swift version: 4.0
- iOS version: 11.1.2
- Device: 7
- Xcode version: 9.2

### Project that demonstrates the bug
[Bug demo](https://github.com/magic3584/testRefresh)

[2018-02-02 09:17] ismailtosun opened #93 "When i call load more func. it not show current row ?"
here is my code.
**call load more**
[code]

[2018-02-15 10:48] intonarumori opened #94 "Custom RefreshView frame is not updated based on ScrollView width"
## Report a bug

###  What did you do?

Created a custom refreshview and animator and added it to the tableview.

[code]

[code]

Custom `RefreshView` and `Animator`:
[code]

### What did you expect to happen?

RefreshView frame should be set to the with of the containing scrollview.

### What happened instead?

Frame is set to 375 width once based on the storyboard viewcontroller size and never u

[2018-03-20 10:41] dushansri opened #95 "Will this be updated to Swift 4?"

[2018-03-26 12:29] nickdnk commented on #76
Hey @SerjOxo
Sorry I didn't get back on this. I just tried updating to 3.x and it's still very broken inside a UITableViewController. My own forked version still works fine for my use case so I'm using that for now.

I'll have a look at those news properties you mentioned and see if I can get it to work.

[2018-04-01 15:33] nickdnk commented on #76
I cannot get 3.0 to work at all. Did you try to use it with a UITableViewController?

[2018-08-21 06:03] zhjch80 opened #101 "scrollView.contentOffset Error"
The pull up loads more，scrollView.contentOffset error. The expectation should be UIEdgeInsets(top: 0.0, left: 0.0, bottom: 0.0, right: 0.0), However, is UIEdgeInsets(top: 64.0, left: 0.0, bottom: 0.0, right: 0.0).

[2018-08-21 08:07] zhjch80 commented on #101
at: PullToRefresh.swift line:95

[2018-08-21 08:11] zhjch80 commented on #101
at: PullToRefresh.swift line:95

temporary solution:
                    scrollView?.contentInset = UIEdgeInsets(top: 0, left: self.scrollViewDefaultInsets.left, bottom: self.scrollViewDefaultInsets.bottom, right: self.scrollViewDefaultInsets.right)
//                    scrollView?.contentInset = self.scrollViewDefaultInsets

please consult the author,how can I better solve this problem？thank you

[2018-09-17 11:09] MSavisko opened #103 "Add Swift 4.2 support"
# Report

## A feature request

###  What do you want to add?

Possibility to work and support swift 4.2

### How should it look like?

PR: https://github.com/Yalantis/PullToRefresh/pull/102

[2018-10-16 11:54] #65 closed, assigned to nobody

[2018-10-16 13:29] rnkyr commented on #103
hey, @MSavisko!
PR merged, please refer to version `3.1`. it'll be in trunk soon

[2018-10-16 13:29] #103 closed, assigned to nobody

[2018-10-16 13:29] rnkyr commented on #95
hi! please refer to the version `3.1`
currently available as a direct pull only, but will be on cocoapods soon

[2018-10-16 13:29] #95 closed, assigned to nobody

[2018-10-17 08:04] zizicici opened #105 "Install 3.1.0 failed with CocoaPods"
# Report

I can't install PullToRefresh 3.1.0, maybe you miss set the tag and push new version to CocoaPods?

## Report a bug

###  What did you do?

Write 'pod 'PullToRefresher', '~> 3.1' in my podfile and try to update my project

### What did you expect to happen?

Success.

### What happened instead?

### Your Environment

- Xcode version: Xcode 10
- If you use Cocoapods: 1.5.3

[2018-10-17 08:12] rnkyr commented on #105
hi, @beimen!
yep, we've not updated cocoapods remote servers yet
will be available soon

[2018-10-17 08:14] rnkyr commented on #105
meanwhile you can fetch it directly by specifying branch

[2018-10-17 15:26] nickdnk commented on #76
Hello

Still doesn't work inside UITableViewController on 3.0.2. Any news on this problem? I don't know what information you need from me to fix it (if you want to or can at all).

Let me know.

[2018-10-22 09:13] rnkyr commented on #105
hey, @beimen!
sorry for the delay. v3.1 is deployed, check out

[2018-10-22 09:13] #105 closed, assigned to nobody

[2018-10-22 09:21] zizicici opened #106 "Opposite refresher is missing in a common scrolling case"
# Report

## Report a bug

###  What did you do?

### What did you expect to happen?

### What happened instead?

### Your Environment

- Version of the component: 3.1.0
- Swift version: 4.2
- iOS version: iOS 12.0.1
- Device: iPhone X
- Xcode version: 10.0 (10A255)
- CocoaPods: 1.5.3

### Project that demonstrates the bug

### Advice

In the `override open func observeValue(forKeyPath keyPath: St

[2018-10-22 09:29] zizicici opened #107 "The opposite refresher is missing"
# Report

## Report a bug

###  What did you do?

### What did you expect to happen?

### What happened instead?

### Your Environment

- Version of the component: 3.1.0
- Swift version: 4.2
- iOS version: iOS 12.0.1
- Device: iPhone X
- Xcode version: 10.0 (10A255)
- CocoaPods: 1.5.3

### Project that demonstrates the bug

### Advice

In the `override open func observeValue(forKeyPath keyPath: St

[2018-10-23 00:59] zizicici commented on #106
Due to the fault of GitHub, I created 2 issues yesterday, so I close it.

[2018-10-23 00:59] #106 closed, assigned to nobody

[2018-10-26 05:34] zizicici commented on #107
I just fork the repo and commit the change. It may resolve it.

[2018-10-26 07:19] ShardaPrasad opened #108 "Problem in scrolling , when increas cell height 540"
Hi,
Its good library for pull to refresh but i am facing problem, when i increase cell size 540. That condition .bottom scroll automatic scroll approx. 10 or 11 index.

[2019-01-25 03:20] leisiyu opened #111 "Height didn't work when create a custom PullToRefresh."
[code]
'height' seems like not being used.

[2019-01-30 02:05] leisiyu commented on #101
got the same problem.

[2019-05-28 07:58] tereks opened #113 "Swift 5 update"
Hi, can we have podspec update for swift 5?

[2019-11-23 06:38] sourov2008 opened #115 "Getting Crash"
# Report

<img width="1296" alt="Screen Shot 2019-11-23 at 12 22 04 PM" src="https://user-images.githubusercontent.com/4990835/69474619-8e0f5080-0ded-11ea-808b-281f6d335adf.png">

## Report a bug

Getting crash.

Step 1 - Working fine pull to refresh
Step 2 - popup
Step 3 - tap Humberger menu and getting Crash

on
    deinit {
        tableView.removeAllPullToRefresh()
    }
I deceleader on ViewDi

[2019-12-27 09:48] rnkyr commented on #115
hey, @sourov2008!

looks like your `tableView` being deinitialized before the controller itself
it has nothing to do with the lib, so I suggest you try to figure out why table deinitializes

[2019-12-27 09:49] #115 closed, assigned to nobody

[2020-03-31 08:02] sergey-prikhodko commented on #113
Hello, podspec was updated to Swift 5, you have to use version 3.2+, so I will close this issue

[2020-03-31 08:02] #113 closed, assigned to nobody

[2020-04-02 17:59] sergey-prikhodko commented on #63
Hello @bonyadmitr ,sorry for the late reply.
I reviewed this issue, looks like it was fixed in new versions.
If you can reproduce this again, you can open a new issue

[2020-04-02 17:59] #63 closed, assigned to sergey-prikhodko

[2020-04-02 18:32] sergey-prikhodko commented on #101
Hi @zhjch80 @leisiyu , sorry for the late reply.
I reviewed this issue, looks like it was fixed in new versions.
If you can reproduce this again, you can open a new issue

[2020-04-02 18:32] #101 closed, assigned to sergey-prikhodko

[2020-04-02 21:06] sergey-prikhodko commented on #93
Hi @ismailtosun, sorry for the late reply.
Our lib can't scroll to new rows after endrefreshing now.
If it's an important feature for you, I can create a ticket and we add this in the next updates.

[2020-04-02 21:15] sergey-prikhodko commented on #93
@ismailtosun I see a mistake.
you call `self?.joinTableView.endRefreshing(at: .bottom)` after `self?.loadMore(lastOrderId: (self?.joinAllAllowedInnoList?.count)!, rowCount: 1)`, but you have to call `self?.joinTableView.endRefreshing(at: .bottom)` after responses from server for example.
In your code, you should to call `self?.joinTableView.endRefreshing(at: .bottom)` in callback of `ServiceConnec

[2020-04-02 21:34] sergey-prikhodko commented on #92
Hello @magic3584 , sorry for the late reply.
I reviewed this issue, looks like it was fixed in new versions.
If you can reproduce this again, you can open a new issue

[2020-04-02 21:34] #92 closed, assigned to sergey-prikhodko

[2020-04-03 08:15] sergey-prikhodko commented on #61
Hello @Syhpox , sorry for the late reply.
I reviewed this issue, looks like it was fixed in new versions.
If you can reproduce this again, you can open a new issue

[2020-04-03 08:15] #61 closed, assigned to nobody

[2020-04-03 10:11] sergey-prikhodko commented on #108
Hi @ShardaPrasad , sorry for the late reply.
I tested this issue, looks like it was fixed in new versions.
If you can reproduce this again, you can open a new issue

[2020-04-03 10:11] #108 closed, assigned to nobody

[2020-04-03 11:10] sergey-prikhodko commented on #49
Hi @windyit08 , sorry for the late reply.
I tested this issue, looks like it was fixed in new versions.
If you can reproduce this again, you can open a new issue

[2020-04-03 11:10] #49 closed, assigned to nobody

[2020-04-03 13:50] sergey-prikhodko commented on #76
Hi @nickdnk!

Does it work correctly on the recent version?

[2020-04-09 08:43] #93 closed, assigned to sergey-prikhodko

[2020-04-09 08:44] #76 closed, assigned to nobody

[2020-04-10 09:37] #48 closed, assigned to sergey-prikhodko

[2020-04-10 11:25] sergey-prikhodko commented on #111
Released in the new version - [3.3](https://github.com/Yalantis/PullToRefresh/tree/3.3)

[2020-04-10 11:25] #111 closed, assigned to nobody

[2020-04-10 11:25] sergey-prikhodko commented on #107
Released in the new version - [3.3](https://github.com/Yalantis/PullToRefresh/tree/3.3)

[2020-04-10 11:25] #107 closed, assigned to nobody

[2020-04-10 11:26] sergey-prikhodko commented on #94
Released in the new version - [3.3](https://github.com/Yalantis/PullToRefresh/tree/3.3)

[2020-04-10 11:26] #94 closed, assigned to nobody

[2020-04-10 11:26] sergey-prikhodko commented on #53
Released in the new version - [3.3](https://github.com/Yalantis/PullToRefresh/tree/3.3)

[2020-04-10 11:26] #53 closed, assigned to sergey-prikhodko

[2020-04-19 10:20] mouness2020 opened #119 "version 3.3 freeze the app and high cpu usage 100%"
version 3.3 freeze the app and high cpu usage 100%

[2020-04-23 12:00] sergey-prikhodko commented on #119
Hello @mouness2020, could you provide me more information about steps to reproduce and iOS version?
And could you remake this issue using our template for issues, if it possible, thank you 🙏

[2020-05-13 08:46] qtliuh opened #120 "Invalid toppadding property value"
The value of the external toppadding property is invalid. Is it 0 in the library

[2020-05-25 12:32] ahmedsafadii opened #121 "Indicator not show on swipe or start refreshing"
Indicator not show on swipe or start refreshing even I try custom view and it's the  same thing
on scrollview

![Simulator Screen Shot - iPhone SE - 2020-05-25 at 15 31 22](https://user-images.githubusercontent.com/6974081/82813004-e0185800-9e9c-11ea-95bc-d7497b4e7c07.png)

[code]

[2020-06-06 19:59] rami965 opened #122 "'endRefreshing' is inaccessible due to 'internal' protection level"
I got this error when I tried to call endRefreshing()
![Screen Shot 2020-06-06 at 9 56 23 PM](https://user-images.githubusercontent.com/20938033/83953450-d1d51f00-a840-11ea-9389-af7c9c4f2205.png)

Please consider changing the function to be `open` instead of `internal`

Thank you

[2020-07-04 13:55] JE4GLE opened #123 "Supporting Swift Package Manager"
More a request, or possibly a question - has there been any consideration to making this into a swift package that could be imported and used by SwiftPM within Xcode 11+?

[2020-07-27 20:32] sergey-prikhodko commented on #122
Hello, you can call `endRefreshing(at: _position)` on scroll view.
If you have some extra questions, let me know

[2020-07-27 20:32] #122 closed, assigned to nobody

[2020-07-27 20:46] sergey-prikhodko commented on #121
Hello, could you provide me code of your `Animator` and `refreshView` ?
Then I could help

[2020-07-27 20:51] sergey-prikhodko commented on #120
Hello @qtliuh, could you provide me more information about it?

[2020-07-27 20:53] sergey-prikhodko commented on #119
cant reproduce

[2020-07-27 20:53] #119 closed, assigned to nobody

[2020-07-27 20:54] sergey-prikhodko commented on #121
@ahmedsafadii

[2020-07-27 21:00] sergey-prikhodko commented on #123
Hello @JE4GLE, thanks for your proposition)
I think we can do it and I will add it into next version

[2020-08-31 09:12] naira-s opened #124 "Custom PullToRefresh is always visible at the top left corner"
## Report a bug

###  What did you do?

After updating to the latest version, custom PullToRefresh got broken.

### What did you expect to happen?

The same behaviour as before, hidden view when it's not in loading progress. When the loading is in progress it should be horizontally centred and after refresh is finished, it should become hidden.

### What happened instead?

### Your Environment

-

[2020-09-03 15:57] nickdnk commented on #124
I have this problem as well. I've come back to this component after several years of use (in a custom fork because the project has been broken for literally years) only to find out that it still does _not_ work, which is somewhat disappointing :(

[2020-09-03 15:59] nickdnk commented on #76
Hello
Sorry for the "delay". Our focus has been elsewhere but I now need to update our app, which I cannot as the custom fork of the project I used only works in Swift 3 which is no longer supported.

It still does not work as expected. I now suffer from https://github.com/Yalantis/PullToRefresh/issues/124. Again on a UITableViewController subclass.

[2020-09-03 16:00] nickdnk commented on #124
I have this problem as well.

[2020-09-04 10:31] GrooveCoverage opened #125 "Why is the isEnabled property in the PullToRefresh.swift file default to false?"
I wrote the following code using SnapKit

    static let baseCellIdentifier = "baseCellIdentifier"
    lazy var tableView: UITableView = {
        let tableView = UITableView(frame: .zero, style: .grouped)
        tableView.backgroundColor = UIColor.lightGray
        tableView.contentInsetAdjustmentBehavior = .never
        tableView.delegate = self
        tableView.dataSource = self
        tabl

[2020-09-23 08:19] geyoga commented on #124
yes, it's happened to me as well

[2020-09-25 08:07] JE4GLE commented on #123
Hey, do you have any update on this? ☺️

[2020-12-20 14:34] #125 closed, assigned to nobody

[2021-06-10 01:41] ghost opened #128 "Call endRefreshing(at: .top) has no effect"
If I only add PullToRefresh on top and not bottom, then calling `endRefreshing(at: .top)`  will have no effect.

In addition, if the top constraint of scrollView can follow the height-change of the navigation bar (`make.edges.equalToSuperview()`), like Twitter or YouTube app, scrollview will bounce and other problems.

[2022-02-14 10:02] twronka opened #129 "Crash on range bounds if refresh view height is greater than 1000"
## Report a bug

###  What did you do?

Refresh view with height greater than 1000

### What did you expect to happen?

Refresh should be performed without any issues.

### What happened instead?

Code crashed with error: "Fatal error: Range requires lowerBound <= upperBound"

Crash occured in file PullToRefresh line 178

### Proposed solution

As a quick fix I have replaced line 177 that was:
`le

[2022-02-28 08:27] wuxiangru commented on #128
func endRefreshing() {
//        guard isEnabled else { return }

        if state == .loading {
            state = .finished
        }
    }

去掉

[2022-03-18 10:55] pokeduck commented on #128
Invoke `refreshControl.setEnable(isEnabled: true)` before calling `endRefreshing(at: .top)`.